:root {
  --dark-color: #676e80;
  --light-color: #faebd7;
}

.App {
  display: flex;
  flex-direction: row;
}

.cv-builder, .present-cv {
  margin: 1rem;
  padding: 0 1rem 1rem 1rem;
  background-color: var(--light-color);
  width: 800px;
  text-align: center;
}

.present-cv {
  min-height: 1131px;
}

section div {
  display: flex;
  flex-direction: row;
}

img {
  width: 8rem;
}

form {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.contact-info img {
  width: 12rem;
  margin-left: 10rem;
}
.contact-info ul {
  text-align: left;
  line-height: 3rem;
  font-size: 2rem;
}

ul {
  text-align: left;
}

.present-educ-info ul li:first-child {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  text-decoration: underline;
}

label {
  display: flex;
  margin: 5px;
}

input {
  margin: 0 5px;
  flex: 1 1 auto;
  background-color: var(--light-color);
  border: none;
  border-bottom: 1px solid var(--dark-color);
  font-size: inherit;
}

button {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  padding: 5px;
  margin-top: 10px;
}
button:hover, button:active {
  box-shadow: 0 0 10px 2px var(--dark-color);
  cursor: pointer;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.present-cv {
  padding: 0 3rem;
}

@media only screen and (max-width: 1600px) {
  .App {
    flex-direction: column;
  }
}